
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="Navbar1" />

<partial name="Navbar2" />

<div id="missiondetails"></div>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


<script>

    function mysearch(order=1, jpg){
        var search = $("#search-addon[name=searchText]").val();

        var country = [];
        $("input[type='checkbox'][name='country']:checked").each(function () {
            country.push($(this).val());
        });

        var city = [];
        $("input[type='checkbox'][name='city']:checked").each(function () {
            city.push($(this).val());
        });

        var theme = [];
        $("input[type='checkbox'][name='theme']:checked").each(function () {
            theme.push($(this).val());
        });


        $.ajax({
            url: '/Home/_Missions',
            type: 'GET',
            data: { 'SearchingMission': search,'order':order ,'jpg':jpg,'country': country.toString(), 'city': city.toString(), 'theme': theme.toString() },
            success: function (res) {
                $("#missiondetails").html(res);
            },

            error: function (res) {
                alert("error");
            }
        });
    }

    $(document).ready(function() {
        mysearch();
    });


    // Rating

    function addRating(starId, missionId, Id) {


        $.ajax({
            url: '/Home/Addrating',
            type: 'POST',
            data: { missionId: missionId, Id: Id, rating: starId },

            success: function (response) {
                $('#starsr').html($(response).find('#starsr').html());
                $('#avgrating').html($(response).find('#avgrating').html());
            },

            error: function () {
                alert("could not add rating");
            }
        });
    }

    //--------------------------Add to Favroite Mission--------------------------------------------


    function addToFav(missonid) {
        $.ajax({

            type: 'GET',
            url: "/Home/addToFavouriteLanding",
            data: { 'missonid': missonid },
            success: function (res) {
                alert(missonid);
                $('.addFav').html($(res).find('.addFav').html());

            },
            error: function () {
                alert("please login first.");
            }

        });
    }

    //Reccomend to coworker
    function sendmail(id) {
        const mail = Array.from(document.querySelectorAll('input[name="mail"]:checked')).map(el => el.id);
        var send = document.getElementById("sendmail");
        send.innerHTML = "Sending"
                        
        $.ajax({
            url: '/Home/Sendmail',
            type: 'POST',
            data: { userid: mail, id: id },
            success: function (result) {
                alert("Recomendations sent successfully!");
                const checkboxes = document.querySelectorAll('input[name="mail"]:checked');
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = false;
                });
                send.innerHTML = "sent"
            },
            error: function () {
                alert('Error: Could not recommend mission.');
            }
        });
    }


    //Script


    function showList(e) {
        var $gridCont = $('.grid-container');
        e.preventDefault();
        $gridCont.hasClass('list-view') ? $gridCont.removeClass('list-view') : $gridCont.addClass('list-view');
    }

    function gridList(e) {
        var $gridCont = $('.grid-container')
        e.preventDefault();
        $gridCont.removeClass('list-view');
    }

    $(document).on('click', '.btn-grid', gridList);
    $(document).on('click', '.btn-list', showList);



                    function showList(e) {
                        var imgdiv = document.querySelectorAll('.imgdiv');
                        var missionimg = document.querySelectorAll('.missionimg');

                        var $gridCont = $('.grid-container');
                        e.preventDefault();
                        //$gridCont.hasClass('list-view') ? $gridCont.removeClass('list-view') : $gridCont.addClass('list-view');
                        $gridCont.removeClass('grid-view');
                        $gridCont.addClass('list-view');
                        for (var item of imgdiv) {
                            item.style.width = "36%";
                        }

                        //for(var item1 of missionimg){
                        //    item.style.width = "100%";
                        //}



                    }
                    function gridList(e) {
                        var imgdiv = document.querySelectorAll('.imgdiv');
                        var missionimg = document.querySelectorAll('.missionimg');
                        var $gridCont = $('.grid-container')
                        e.preventDefault();
                        //$gridCont.removeClass('list-view');

                        $gridCont.removeClass('list-view');
                        $gridCont.addClass('grid-view');
                        for (var item of imgdiv) {
                            item.style.width = "100%";
                        }

                        for (var item of missionimg) {
                            item.style.width = "100%";
                        }

                    }

                    $(document).on('click', '.btn-grid', gridList);
                    $(document).on('click', '.btn-list', showList);




</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

@*<script>


    </script>
*@